<div class="wrapper wrapper_padding clearfix">
  <div class="welcome_note">
      <h2>HoopBlurbs</h2>
      <p>
        Is the place to get quick fantasy basketball blurbs on all the days performers in the NBA. Fun, quick and easy to read blurbs let you hit the wire to pick up the gems that lead you to glory in your fantasy league and let you trim the fat of those piling up duds on the basketball court day in and out.
      </p>
  </div>
  <% @posts.each do |post| %>
  <div class="col-2 homepage_content"><% link_to post, post %>
    <div class="article_info">
      <% if post.image.exists? %>
        <%= image_tag post.image.url(:thumb) %>
      <% end %>
      <h4><%= post.sport %></h4>
      <h3><%= link_to post.title, post %></h3>
      <p class="date"><%= post.player %> <%= post.postion %> <%= post.team %></p>
      <p class="date"><%= post.created_at.strftime("%A, %b %d") %></p>
      <p class="date"><%= markdown post.content %></p>
    </div>
  </div>
  <% end %>
  <% @projects.each do |project| %>
  <div class="col-3 homepage_content football"><% link_to project, project %>
    <div class="article_info">
      <h4>NBA</h4>
      <h3><%= link_to project.title, project %></h3>
      <p class="date"><%= project.created_at.strftime("%A, %b %d") %></p>
      <p class="date"><%= markdown project.description %></p>
    </div>
  </div>
  <% end %>
</div>
