<div class="wrapper wrapper_padding clearfix">
  <div class="welcome_note">
      <h2>HoopBlurbs</h2>
      <p>
        Is the place to get quick fantasy basketball blurbs on all the days performers in the NBA. Fun, quick and easy to read blurbs let you hit the wire to pick up the gems that lead you to glory in your fantasy league and let you trim the fat of those piling up duds on the basketball court day in and out.
      </p>
  </div>
  <% @posts.each do |post| %>
  <div class="col-2">
    <div class="article_info">
      <% if post.image.exists? %>
        <%= image_tag post.image.url(:thumb) %>
      <% end %>
      <div class="blurb-data">
        <h4><%= post.sport %></h4>
        <h3><%= link_to post.title, post %></h3>
        <p class="date"><%= post.player %> | <%= post.postion %> | <%= post.team %></p>
        <p class="date"><%= post.created_at.strftime("%A, %b %d") %></p>
      </div>
      <div class="blurb-article">
        <p><%= post.content %></p>
      </div>
      <div class="blurb-stats">
        <table class="tftable">
          <tr><th>FG%</th><th>FT%</th><th>Threes</th><th>Points</th><th>Rebounds</th><th>Assists</th><th>Steals</th><th>Blocks</th><th>TO's</th></tr>
          <tr><td><%= post.fg %></td><td><%= post.ft %></td><td><%= post.threes %></td><td><%= post.points %></td><td><%= post.rebounds %></td><td><%= post.assists %></td><td><%= post.steals %></td><td><%= post.blocks %></td><td><%= post.turnovers %></td></tr>
        </table>
      </div>
    </div>
  </div>
  <% end %>
  <% @projects.each do |project| %>
  <div class="col-3"><% link_to project, project %>
    <div class="article_info">
      <h4>NBA</h4>
      <h3><%= link_to project.title, project %></h3>
      <p class="date"><%= project.created_at.strftime("%A, %b %d") %></p>
      <p class="date"><%= markdown project.description %></p>
    </div>
  </div>
  <% end %>
</div>
