<%= form_for @post, html: { multipart: true } do |f| %>
  <% if @post.errors.any? %>
    <h2><%= pluralize(@post.errors.count, "error") %> prevented this post from saving:</h2>
    <ul>
      <%= @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>

  <%= f.label :title %><br>
  <%= f.text_field :title %>

  <br>
  <br>

  <%= f.label :content, "Write your article here" %><br>
  <%= f.text_area :content %>

  <br>
  <br>

  <%= f.label :sport %><br>
  <%= f.text_field :sport %>

  <br>
  <br>

  <%= f.label :player %><br>
  <%= f.text_field :player %>

  <br>
  <br>

  <%= f.label :team %><br>
  <%= f.text_field :team %>

  <br>
  <br>

  <%= f.label :postion %><br>
  <%= f.text_field :postion %>

  <br>
  <br>

  <%= f.label :image %><br>
  <%= f.file_field :image %>

  <br>
  <br>

  <%= f.label :fg %><br>
  <%= f.text_field :fg %>

  <br>
  <br>

  <%= f.label :ft %><br>
  <%= f.text_field :ft %>

  <br>
  <br>

  <%= f.label :points %><br>
  <%= f.text_field :points %>

  <br>
  <br>

  <%= f.label :threes %><br>
  <%= f.text_field :threes %>

  <br>
  <br>

  <%= f.label :rebounds %><br>
  <%= f.text_field :rebounds %>

  <br>
  <br>

  <%= f.label :assists %><br>
  <%= f.text_field :assists %>

  <br>
  <br>

  <%= f.label :steals %><br>
  <%= f.text_field :steals %>

  <br>
  <br>

  <%= f.label :blocks %><br>
  <%= f.text_field :blocks %>

  <br>
  <br>

  <%= f.label :turnovers %><br>
  <%= f.text_field :turnovers %>

  <br>
  <br>

  <%= f.submit %>

<% end %>
